.App {
  text-align: center;
}

/* 스크롤 없애기 */
body {
  /* -ms-overflow-style: none; */
  overflow: scroll;
}

/* ::-webkit-scrollbar {
  display: none;
} */

div {
  box-sizing: border-box;
}

.black-nav {
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  padding-left: 20px;
}

.createArticle {
  padding-top: 25px;
}

.createArticle-input {
  height: 30px;
  width: 60%;
}

.createArticle-button {
  background-color: rgb(34, 33, 33);
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  height: 35px;
  width: 10%;
}

.list {
  padding-left: 20px;
  padding-bottom: 25px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.modal {
  margin-top: 20px;
  background-color: #eee;
  padding: 20px;
  text-align: left;
}

.delete {
  background-color: rgb(34, 33, 33);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 15%;
}
